html {
  height: 100%;
}

html,
body {
  background-color: #fff;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;

  @extend %lato-400;
  font-size: 16px;
  line-height: 1.75;
  
  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}