.header {
  &__content {
    position: relative;

    height: calc(100vh - 92px);
    padding: 40px;

    background-image: url(../../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    border: 2px solid $accent;
    border-bottom: none;
  }

  &__title {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @extend %georgia-700;
    font-size: 162px;
    line-height: 1.3;
    text-transform: uppercase;

    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: -13px;

    @extend %georgia-400;
    font-size: 24px;
    line-height: 1.125;
    text-align: center;

    color: #fff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    white-space: nowrap;

    &::before,
    &::after {
      content: '';
      border-bottom: 2px solid $accent;
      width: 100%;
    }

    &::before {
      margin-right: 40px;
    }

    &::after {
      margin-left: 40px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: center;
    padding: 43px 0 21px;
  }

  &__list-item {
    &+& {
      margin-left: 35px;
    }
  }

  &__list-link {
    padding: 0 8px 22px;

    @extend %lato-700;
    font-size: 14px;
    line-height: 1.35;

    color: #909090;

    border-bottom: 4px solid transparent;

    transition: color .3s, border-bottom-color .3s;

    &:hover {
      border-bottom-color: $accent;

      @extend %lato-700;
      color: $title;
    }
  }
}